<!-- <div>
  <p>Profile List</p>
  <input [(ngModel)]="firstName" />
  <input [(ngModel)]="lastName" />
  <input [(ngModel)]="age" />
  <button (click)="addProfile(firstName, lastName, age)">
    Add Profile
  </button>

  <div *ngFor="let profile of profiles">
    <span>{{ profile.firstName }}</span>
    <span>{{ profile.lastName }}</span>
    <span [ngStyle]="{ color: profile.age >= 18 ? 'blue' : 'red' }">
      {{ profile.age }}
    </span>
  </div>
</div> -->

<div>{{ profileList.firstName }}</div>
<div>{{ profileList.lastName }}</div>
<div>{{ profileList.age }}</div>
<!-- <div [ngStyle]="{ color: profileList.age >= 18 ? 'blue' : 'red' }">
  {{ profileList.age }}
</div> -->
